html {
    height: 100%;
    background-image: linear-gradient(
        45deg,
        rgb(197, 209, 154) 0%,
        #9bc98d 15%,
        #95d3a8 35%,
        #96b0c0 52%,
        #9b8eac 71%,
        #8689af 87%,
        #6f718b 100%
    );
}
body {
    width: 60%;
    margin: 0 auto;
    font-family: Courier, monospace;
}
h1, h2 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
}
a:hover {
    color: white;
    background-color: rgb(103, 204, 99);
    text-decoration: none;
}