html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    overflow-y: auto;
    font-family: 'Yu Mincho';
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(198, 198, 198);

    padding: 10px 20px;
    font-family: 'Consolas';
}

header > a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    #content {
        width: 60%;
        margin: 0 auto;
        padding: 40px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #content {
        width: 75%;
        margin: 0 auto;
        padding: 40px 0;
    }
}

@media screen and (max-width: 768px) {
    #content {
        width: 90%;
        margin: 0 auto;
        padding: 40px 0;
    }
}

h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 55px;
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color:rgb(55, 216, 203);
    text-decoration: none;
}