html {
    height: 100%;
}

body {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: 'Yu Mincho';
}

h1 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 55px;
}

a {
    color: black;
}

a:hover {
    color:blue;
    text-decoration: none;
}